body {
  width: 100vw;
  height: 100vh; 
  margin: 0;
  color: white;

}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: white;
}